body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 180px;
    min-width: 100px;
    resize: none;
}

.zootopia {
    font: zootopia;
}

.loginregister {
    margin-left: 1100px;
}

.gorputza {
    margin-top: 300px;
    margin: auto;
}

.btn {
    border: solid;
    border-radius: 25px;
    border-color: #1789DF;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;
    margin: 5px;
}

    .btn:hover {
        transition: 150ms;
        color: black;
        background-color: #1789DF;
    }

.padding {
    padding: 6px
}

.center {
    margin-left: 23%;
    margin-top: 17%;
}

.element-align {
    position: fixed;
    bottom: 0;
}

a {
    color: #1789DF;
    text-decoration: none;
}

    a:hover {
        color: white;
        text-decoration: none;
    }

.zootopia {
    font-family: 'Zootopia', 'Zootopia JPosters.com.ar';
    font-weight: normal;
}

body {
    background-image: url("images/fondoa.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: auto;
    overflow-x: hidden;
}

.input {
    color: #1789DF;
}

    .input:hover {
        transition: 150ms;
        color: white;
        background-color: #1789DF;
    }

.highschore-div {
    background-color: #1789DF;
    border: solid;
    border-radius: 25px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 25px;
    min-height: 800%;
    color: white;
    font-weight: bold;
    font-size: 500%;
    padding: 10px;
}

.block {
    background-color: #1789DF;
    border: solid;
    border-radius: 25px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 25px;
    min-height: 800%;
    color: white;
    padding: 10px;
    width: 45%;
    margin-left: 20%;
    margin-top: 8%;
}

.info {
    font-size: 115%;
    font-weight: bold;
    color: #1789DF;
    margin-left: 1%;
}

.time {
    border: solid;
    border-color: #1789DF;
    background-color: #1789DF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 150%;
    padding-top: 7px;
    padding-left: -50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.points {
    border: solid;
    border-color: #1789DF;
    color: #1789DF;
    font-size: 300%;
    display: inline-block;
    width: 8%;
    margin-left: 24%;
    padding: 10px;
    margin-top: -1%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.question {
    border: solid;
    border-color: #1789DF;
    border-radius: 30px;
    text-align: center;
    height: 20%;
    width: 70%;
    margin: 20px;
    padding: 10px;
    color: #1789DF;
    font-weight: bold;
    font-size: 200%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.answer{
    width: 30%;
    margin-left: 5%;
}