
@{
    ViewBag.Title = "Index";
}
<div class="container row loginregister">
    <div class="container col-lg-1 btn zootopia">@Html.ActionLink("Login", "Login"@*, "", null, new { @class = "btn" }*@)</div>
    <div class="container col-lg-1 btn zootopia">@Html.ActionLink("Register", "Register")</div>
</div>

<div class="container gorputza row">
    <h1 class="zootopia" style="margin-left: 10%;
        letter-spacing: 10px;
        margin-top: 10%;
        font-size: 1000%;
        color: #1789DF;
        text-shadow: 7px 10px 45px gray;">QUESTED</h1>
    <div class="btn zootopia" style="margin-left: 33%; padding: 2%; font-size: 150%; margin-top: 10%">@Html.ActionLink("LOGIN AND PLAY", "Login")</div>
    <div class="btn zootopia" style="margin-left: 34.5%; padding: 2%; font-size: 150%; margin-top: 2%">@Html.ActionLink("HIGH SCORES", "Score")</div>
</div>

