
@{
    ViewBag.Title = "Login";
}


<div class="form-group zootopia">
    <div class="col-md-offset-2 col-md-10" style="padding-right: 45%;margin-left: 50%; margin-top: 20%">
        <h2 style="margin-left: -48%; color:#1789DF;" class="zootopia">Login</h2>
        <div class="row padding" style="margin-left: -50%"><input type="text" placeholder="Username" /></div>
        <div class="row padding" style="margin-left: -50%"><input type="password" placeholder="Password" /></div>
        <div class="row padding" style="margin-left: -57%"><input class="btn input" type="submit" value="Log in" style=" margin-left:25px" /></div>
    </div>
    <div class="bottom btn zootopia" style="margin-left: -49%">
        @Html.ActionLink("Back to Menu", "Index")
    </div>
</div>

